*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.section-title {
  color: #87629a;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;

}

.col {
  /* these are now flex items */
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

header {
  background: #136c72;
  padding: 0.5em 0;
}

.nav {
  display: flex; /* this should be off in Varian 1 */
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  /* border: 2px solid palevioletred; */
  
}

.nav__list {
  margin: 0em;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
  border: 2px solid palegreen;
  font-size: .9rem;
  
  
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  
}

.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.nav__link:hover {
  opacity: 0.75;
}

.nav__list--primary {
  margin: 0 auto;
}

.nav__list--secondary {
}



.nav__item + .nav__item {
  /*font-size: 2em;  to show it's gonna select only them */
  margin-left: 1em; /* item spacer */
}

/* variant 1 to push them to the right
will grag the next item to the right as well 
.nav__item--push-right{
  margin-left: auto; 
}*/

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.main {
  margin-top: 3em;
}

.primary-content {
  width: 62%;
}

.sidebar {
  width: 32%;
  padding: 2em;
  text-align: center;
  color: #fff;
  background-color: #136c72;
  padding-bottom: 3rem;
}

@media (max-width: 600px) {
  .row,
  .nav {
    display: inline-block
  }

  .hero__text,
  .hero__img,
  .primary-content,
  .sidebar {
    width: 100%;
  }

  .hero__img {
    margin-top: 2em;
  }

}